[submodule "iOS/HyperMediaAD/Classes/SwiftyJSON"]
	path = iOS/HyperMediaAD/Classes/SwiftyJSON
	url = https://github.com/SwiftyJSON/SwiftyJSON.git
	branch = xcode7
[submodule "iOS/HyperMediaAD/Classes/Polyline"]
	path = iOS/HyperMediaAD/Classes/Polyline
	url = https://github.com/Braphaelmor/Polyline.git
	branch = swift2-support
[submodule "iOS/HyperMediaAD/Classes/KYDrawerController"]
	path = iOS/HyperMediaAD/Classes/KYDrawerController
	url = https://github.com/ykyouhei/KYDrawerController.git
