[submodule "iOS/HyperMediaAD/Classes/SwiftyJSON"]
	path = iOS/HyperMediaAD/Classes/SwiftyJSON
	url = https://github.com/SwiftyJSON/SwiftyJSON.git
[submodule "iOS/HyperMediaAD/Classes/KYDrawerController"]
	path = iOS/HyperMediaAD/Classes/KYDrawerController
	url = https://github.com/ykyouhei/KYDrawerController.git
[submodule "iOS/HyperMediaAD/Classes/Polyline"]
	path = iOS/HyperMediaAD/Classes/Polyline
	url = https://github.com/raphaelmor/Polyline.git
